<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.samples.tenant.mapper.TUserMapper">
  <resultMap id="tUserMap" type="com.relaxed.samples.tenant.model.entity.TUser">
                  <id property="id" column="id"/>
                        <result property="username" column="username"/>
                        <result property="tenantId" column="tenant_id"/>
            </resultMap>
</mapper>