<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.common.risk.repository.mapper.ActivationMapper">
  <resultMap id="activationMap" type="com.relaxed.common.risk.model.entity.Activation">
                  <id property="id" column="ID"/>
                        <result property="activationName" column="ACTIVATION_NAME"/>
                        <result property="label" column="LABEL"/>
                        <result property="modelId" column="MODEL_ID"/>
                        <result property="comment" column="COMMENT"/>
                        <result property="bottom" column="BOTTOM"/>
                        <result property="median" column="MEDIAN"/>
                        <result property="high" column="HIGH"/>
                        <result property="status" column="STATUS"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="updateTime" column="UPDATE_TIME"/>
            </resultMap>
 
	<sql id="Base_Column_List">
		ID,        
		ACTIVATION_NAME,        
		LABEL,        
		MODEL_ID,        
		COMMENT,        
		BOTTOM,        
		MEDIAN,        
		HIGH,        
		STATUS,
		CREATE_TIME,        
		UPDATE_TIME        
	</sql>

	<sql id="Base_Alias_Column_List">
		a.ID,        
		a.ACTIVATION_NAME,        
		a.LABEL,        
		a.MODEL_ID,        
		a.COMMENT,        
		a.BOTTOM,        
		a.MEDIAN,        
		a.HIGH,        
		a.STATUS,
		a.CREATE_TIME,        
		a.UPDATE_TIME        
	</sql>
</mapper>