<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.common.risk.repository.mapper.DataListRecordsMapper">
  <resultMap id="dataListRecordsMap" type="com.relaxed.common.risk.model.entity.DataListRecords">
                  <id property="id" column="ID"/>
                        <result property="dataListId" column="DATA_LIST_ID"/>
                        <result property="dataRecord" column="DATA_RECORD"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="updateTime" column="UPDATE_TIME"/>
            </resultMap>
 
	<sql id="Base_Column_List">
		ID,        
		DATA_LIST_ID,        
		DATA_RECORD,        
		CREATE_TIME,        
		UPDATE_TIME        
	</sql>

	<sql id="Base_Alias_Column_List">
		dlr.ID,        
		dlr.DATA_LIST_ID,        
		dlr.DATA_RECORD,        
		dlr.CREATE_TIME,        
		dlr.UPDATE_TIME        
	</sql>
</mapper>