<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.common.risk.repository.mapper.DataListMetaMapper">
  <resultMap id="dataListMetaMap" type="com.relaxed.common.risk.model.entity.DataListMeta">
                  <id property="id" column="ID"/>
                        <result property="dataListId" column="DATA_LIST_ID"/>
                        <result property="fieldName" column="FIELD_NAME"/>
                        <result property="label" column="LABEL"/>
                        <result property="seqNum" column="SEQ_NUM"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="updateTime" column="UPDATE_TIME"/>
            </resultMap>
 
	<sql id="Base_Column_List">
		ID,        
		DATA_LIST_ID,        
		FIELD_NAME,        
		LABEL,        
		SEQ_NUM,        
		CREATE_TIME,        
		UPDATE_TIME        
	</sql>

	<sql id="Base_Alias_Column_List">
		dlm.ID,        
		dlm.DATA_LIST_ID,        
		dlm.FIELD_NAME,        
		dlm.LABEL,        
		dlm.SEQ_NUM,        
		dlm.CREATE_TIME,        
		dlm.UPDATE_TIME        
	</sql>
</mapper>