<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.common.risk.repository.mapper.ModelMapper">
  <resultMap id="modelMap" type="com.relaxed.common.risk.model.entity.Model">
                  <id property="id" column="ID"/>
                        <result property="guid" column="GUID"/>
                        <result property="modelName" column="MODEL_NAME"/>
                        <result property="label" column="LABEL"/>
                        <result property="entityName" column="ENTITY_NAME"/>
                        <result property="entryName" column="ENTRY_NAME"/>
                        <result property="referenceDate" column="REFERENCE_DATE"/>
                        <result property="fieldValidate" column="FIELD_VALIDATE"/>
                        <result property="code" column="CODE"/>
                        <result property="template" column="TEMPLATE"/>
                        <result property="dashboardUrl" column="DASHBOARD_URL"/>
                        <result property="status" column="STATUS"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="updateTime" column="UPDATE_TIME"/>
            </resultMap>
 
	<sql id="Base_Column_List">
		ID,        
		GUID,        
		MODEL_NAME,        
		LABEL,        
		ENTITY_NAME,        
		ENTRY_NAME,        
		REFERENCE_DATE,        
		FIELD_VALIDATE,        
		CODE,        
		TEMPLATE,        
		DASHBOARD_URL,        
		STATUS,        
		CREATE_TIME,        
		UPDATE_TIME        
	</sql>

	<sql id="Base_Alias_Column_List">
		m.ID,        
		m.GUID,        
		m.MODEL_NAME,        
		m.LABEL,        
		m.ENTITY_NAME,        
		m.ENTRY_NAME,        
		m.REFERENCE_DATE,        
		m.FIELD_VALIDATE,        
		m.CODE,        
		m.TEMPLATE,        
		m.DASHBOARD_URL,        
		m.STATUS,        
		m.CREATE_TIME,        
		m.UPDATE_TIME        
	</sql>
</mapper>