<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.common.risk.repository.mapper.ModelConfMapper">
  <resultMap id="modelConfMap" type="com.relaxed.common.risk.model.entity.ModelConf">
                  <id property="id" column="id"/>
                        <result property="modelId" column="model_id"/>
                        <result property="name" column="name"/>
                        <result property="path" column="path"/>
                        <result property="tag" column="tag"/>
                        <result property="operation" column="operation"/>
                        <result property="updateDate" column="update_date"/>
                        <result property="type" column="type"/>
                        <result property="comment" column="comment"/>
                        <result property="createTime" column="create_time"/>
            </resultMap>
 
	<sql id="Base_Column_List">
		id,        
		model_id,        
		name,        
		path,        
		tag,        
		operation,        
		update_date,        
		type,        
		comment,        
		create_time        
	</sql>

	<sql id="Base_Alias_Column_List">
		mc.id,        
		mc.model_id,        
		mc.name,        
		mc.path,        
		mc.tag,        
		mc.operation,        
		mc.update_date,        
		mc.type,        
		mc.comment,        
		mc.create_time        
	</sql>
</mapper>