<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.common.risk.repository.mapper.RuleHistoryMapper">
  <resultMap id="ruleHistoryMap" type="com.relaxed.common.risk.model.entity.RuleHistory">
                  <id property="id" column="ID"/>
                        <result property="ruleId" column="RULE_ID"/>
                        <result property="merchantCode" column="MERCHANT_CODE"/>
                        <result property="label" column="LABEL"/>
                        <result property="initScore" column="INIT_SCORE"/>
                        <result property="baseNum" column="BASE_NUM"/>
                        <result property="operator" column="OPERATOR"/>
                        <result property="abstractionName" column="ABSTRACTION_NAME"/>
                        <result property="rate" column="RATE"/>
                        <result property="ruleDefinition" column="RULE_DEFINITION"/>
                        <result property="updateTime" column="UPDATE_TIME"/>
            </resultMap>
 
	<sql id="Base_Column_List">
		ID,        
		RULE_ID,        
		MERCHANT_CODE,        
		LABEL,        
		INIT_SCORE,        
		BASE_NUM,        
		OPERATOR,        
		ABSTRACTION_NAME,        
		RATE,        
		RULE_DEFINITION,        
		UPDATE_TIME        
	</sql>

	<sql id="Base_Alias_Column_List">
		rh.ID,        
		rh.RULE_ID,        
		rh.MERCHANT_CODE,        
		rh.LABEL,        
		rh.INIT_SCORE,        
		rh.BASE_NUM,        
		rh.OPERATOR,        
		rh.ABSTRACTION_NAME,        
		rh.RATE,        
		rh.RULE_DEFINITION,        
		rh.UPDATE_TIME        
	</sql>
</mapper>