<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relaxed.common.risk.repository.mapper.RuleMapper">
  <resultMap id="ruleMap" type="com.relaxed.common.risk.model.entity.Rule">
                  <id property="id" column="ID"/>
                        <result property="modelId" column="MODEL_ID"/>
                        <result property="activationId" column="ACTIVATION_ID"/>
                        <result property="name" column="NAME"/>
                        <result property="label" column="LABEL"/>
                        <result property="scripts" column="SCRIPTS"/>
                        <result property="scriptEntry" column="SCRIPT_ENTRY"/>
                        <result property="initScore" column="INIT_SCORE"/>
                        <result property="baseNum" column="BASE_NUM"/>
                        <result property="operator" column="OPERATOR"/>
                        <result property="abstractionName" column="ABSTRACTION_NAME"/>
                        <result property="rate" column="RATE"/>
                        <result property="max" column="MAX"/>
                        <result property="status" column="STATUS"/>
                        <result property="ruleDefinition" column="RULE_DEFINITION"/>
	                    <result property="ruleOrder" column="RULE_ORDER"/>
                        <result property="createTime" column="CREATE_TIME"/>
                        <result property="updateTime" column="UPDATE_TIME"/>
            </resultMap>
 
	<sql id="Base_Column_List">
		ID,        
		MODEL_ID,        
		ACTIVATION_ID,        
		NAME,        
		LABEL,        
		SCRIPTS,
SCRIPT_ENTRY,
		INIT_SCORE,        
		BASE_NUM,        
		OPERATOR,        
		ABSTRACTION_NAME,        
		RATE,        
		MAX,        
		STATUS,        
		RULE_DEFINITION,
RULE_ORDER,
		CREATE_TIME,        
		UPDATE_TIME        
	</sql>

	<sql id="Base_Alias_Column_List">
		r.ID,        
		r.MODEL_ID,        
		r.ACTIVATION_ID,        
		r.NAME,        
		r.LABEL,        
		r.SCRIPTS,
r.SCRIPT_ENTRY,
		r.INIT_SCORE,        
		r.BASE_NUM,        
		r.OPERATOR,        
		r.ABSTRACTION_NAME,        
		r.RATE,        
		r.MAX,        
		r.STATUS,        
		r.RULE_DEFINITION,
r.RULE_ORDER,
		r.CREATE_TIME,        
		r.UPDATE_TIME        
	</sql>
</mapper>