package ${packageName}.${moduleName}.model.vo;

import java.time.LocalDateTime;

import com.baomidou.mybatisplus.annotation.*;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * ${comments} 数据传输对象
 *
 * @author ${author}
 * @since ${currentTime}
 */
@ApiModel(value = "${comments}")
@Data
@EqualsAndHashCode(callSuper = true)
@Accessors(chain = true)
public class ${className}VO implements Serializable  {

#foreach($column in $columns)
    /**
     * $column.comments
     */
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.attrName;
#end

}

